ul.messenger-theme-ice.messenger-message.alert-info.messenger-message-inner::before {
  content: Ition11 !important;
}

.messenger-message-inner::before {
  content: lollol !important;
}

.messenger-message-inner::before {
  content: lmaolmao !important;
}
